{% extends 'base.html.twig' %}

{% block title %}Accueil · MangaBlog{% endblock %}

{% block body %}
    <div class="p-5 bg-white border rounded-3">
        <h1 class="h3 mb-3">Bienvenue sur MangaBlog</h1>
        <p class="text-muted mb-0">
            Objectif du projet : blog manga avec catégories, tags, commentaires, filtres & dashboard.
        </p>
    </div>
{% endblock %}
